version: "3.9"

services:
  db:
    container_name: kong-database
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=kong
      - POSTGRES_DB=kong
      - POSTGRES_PASSWORD=kong
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "10"
  migration:
    container_name: kong-migration
    image: kong:3.4
    environment:
      - KONG_DATABASE=postgres
      - KONG_PG_HOST=db
      - KONG_PG_USER=kong
      - KONG_PG_PASSWORD=kong
    depends_on:
      - db
    command: kong migrations bootstrap
  kong:
    container_name: kong
    image: kong:3.4
    environment:
      - KONG_DATABASE=postgres
      - KONG_PG_HOST=db
      - KONG_PG_PASSWORD=kong
      - KONG_PROXY_ACCESS_LOG=/dev/stdout
      - KONG_ADMIN_ACCESS_LOG=/dev/stdout
      - KONG_PROXY_ERROR_LOG=/dev/stderr
      - KONG_ADMIN_ERROR_LOG=/dev/stderr
      - KONG_ADMIN_GUI_URL=http://127.0.0.1:8002
      - KONG_ADMIN_LISTEN=0.0.0.0:8001, 0.0.0.0:8443 ssl
    ports:
      - "8000:8000"
      - "8001:8001"
      - "8002:8002"
      - "8443:8443"
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "10"